spring/xml-extension/src/main/resources/fun/lsof/spring/xml/extension/custom-config.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xsd:schema xmlns="http://lsof.fun/schema/config"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            targetNamespace="http://lsof.fun/schema/config"
            elementFormDefault="qualified">

    <xsd:element name="config">
        <xsd:complexType>
            <xsd:attribute name="id" type="xsd:string"/>
            <xsd:attribute name="name" type="xsd:string"/>
            <xsd:attribute name="ip" type="xsd:string"/>
            <xsd:attribute name="port" type="xsd:string"/>
            <xsd:attribute name="path" type="xsd:string"/>
        </xsd:complexType>
    </xsd:element>

</xsd:schema>